{% extends 'base.html.twig' %}

{% block body %}
<h2>Accueil</h2>


    <article>
      <header>
        <h2>{{ post.titre }}</h2>
        <b><i>Par {{ post.auteur }}</i></b>
        <time>Le {{ post.date|date('d/M/Y') }}</time>
      </header>

    <div class="well">
    {{ post.contenu }}
    </div>
  </article>

    <h4>Dernières commentaires</h4>
	
  {% for comment in post.comments %}
    <div>    
      <p>
	    <b>Par {{ comment.auteur }}</b>
        <time>Le {{ comment.date|date('d/M/Y') }}</time>
        {{ comment.contenu }}
	  </p>
      <hr /> 
    </div>
  {% endfor %}
{% endblock %}